body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    background-color: rgb(172, 181, 197);
    color: #48474d;
}

section {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

h1:hover {
    color: rgba(86, 72, 138, 0.678);
    transform: scale(1.03);
}

/* Seção Contatos */
.contatos {
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    margin: 30px auto;
    background-color: rgb(235, 235, 235);
    border: 3px solid rgba(72, 93, 138, 0.301);
}

.contatos p {
    margin: 0.6rem;
}

.contatos a {
    text-decoration: none;
    color: rgba(86, 72, 138, 0.678);
}

.content {
    border-radius: 8px;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    background-color: rgb(235, 235, 235);
    border: 3px solid rgba(72, 93, 138, 0.301);
}

h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    padding: 0.6rem 0;
    list-style: circle;
    list-style-position: inside;
}

/* Seção Experiência */
.experiencia p {
    margin-bottom: 7px;
}

.atividades {
    margin-top: 0;
    margin-bottom: 0;
}

.experiencia ul {
    margin-top: 0;
}

.experiencia li {
    padding: 0;
}